h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 450%;
}

p {
  font-family: "Lilita One", cursive;
  font-size: 250%;
}

.bar a  {
  font-size: 250%;
  font-family: "Lilita One", cursive;
  text-align: center;
  margin-left: 10%;
  color: #0084ff;
} 

.bar {
  background-color: #7cf8be;
  margin-top: 0%;
  text-shadow: #43844f;
  padding-left: 50px;
}

